body, html {
  background: linear-gradient(to right, #3c6d79 50%, #E0E2EE 50%);
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}


#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}